.wrapper {
  background: var(--white-color);
  width: 100%;
  height: 90vh;
}

.body {
  height: calc(100% - var(--header-height));
  position: relative;
  display: flex;
}

.bodyLeft {
  width: 300px;
  list-style: none;
  background: var(--primary-color);
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 60px;
}

.leftItem {
  padding: 12px 20px;
}

.leftItem.active {
  background: var(--white-color);
}

.leftItemTitle {
  font-size: 1.5rem;
  margin-bottom: 4px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.leftItemText {
  color: var(--gray-color);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 1.3rem;
}

.btnAddNote {
  position: absolute;
  left: 12px;
  bottom: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white-color);
  padding: 6px 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: all ease 0.25s;
  z-index: 3;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btnAddNote:hover {
  transform: scale(1.05);
}

.btnAddNote:hover .btnAddNoteIcon i {
  transform: rotate(450deg);
}

.btnAddNoteIcon {
  font-size: 2.8rem;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.btnAddNoteIcon i {
  transition: all ease 0.5s;
}

.btnAddNoteText {
  margin-left: 8px;
}

.bodyRight {
  flex: 1;
  padding: 12px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.bodyRightHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 12px 4px 0;
  width: 100%;
}

.headerLeft {
}

.headerTitle {
  padding: 4px 12px;
  font-size: 2rem;
  width: 100%;
  border-radius: 6px;
}

.headerTime {
  font-size: 1.3rem;
  font-style: italic;
  margin-left: 12px;
}

.headerRight {
}

.headerRightDelete,
.headerRightCreate {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: all ease 0.25s;
}

.headerRightDelete:hover,
.headerRightCreate:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.bodyRightContent {
  margin-top: 12px;
  border: 1px solid var(--gray-color);
  padding: 4px 12px;
  border-radius: 6px;
  width: 100%;
}

.comments {
  margin-top: 20px;
  max-width: 100%;
  flex: 1;
  overflow-y: scroll;
  position: relative;
  width: 100%;
}

.cmtHeader {
  padding: 4px 12px;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 6px;
  font-weight: 500;
  color: var(--gray-color);
  cursor: pointer;
  position: sticky;
  top: 0;
  background: var(--white-color);
}

.cmtHeader .icon {
  transition: all ease 0.25s;
}

.cmtHeader .icon.active {
  transform: rotate(90deg);
}

.cmtInp {
  outline: none;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 4px 12px;
  margin-top: 6px;
}

.cmtList {
  margin-top: 12px;
  max-height: 100%;
}

.wrapInpCmt {
  display: flex;
  flex-direction: column;
}

.btnSendCmt {
  margin-top: 8px;
  width: 60px;
  margin-left: auto;
  background: var(--primary-color);
}

@media (width < 1200px) {
  .wrapper {
    width: 100vw;
  }
}

@media (width < 864px) {
  .wrapper {
    width: 100vw;
    height: 100vh;
  }

  .bodyLeft {
    position: absolute;
    width: 60px;
    transition: all linear 0.25s;
    z-index: 2;
  }

  .bodyLeft:hover {
    width: 300px;
  }

  .bodyRight {
    margin-left: 60px;
  }

  .cmtList {
    padding-bottom: 60px;
  }
}
